@model IEnumerable<SchoolPaymentsViewDto>

<h4 class="mt-3" style="font-weight: 100;">Payments Made:</h4>
<table id="datatable-1" class="table table-bordered table-striped table-responsive-md" role="grid" aria-describedby="example1_info">
    <thead>
        <tr role="row">
            <td>Date</td>
            <td>Recognition Type</td>
            <td>PIN Number</td>
            <td>Amount Paid</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr role="row">
            <td>@(item.DateCreated != null ? item.DateCreated.Value.ToString("dd-MMM-yyyy") : "NOT STATED")</td>
            <td>@item.RecognitionTypeName</td>
            <td>@item.PinSerialNumber</td>
            <td>@(item.AmountPaid != null ? item.AmountPaid.Value.ToString("#,##0") : "0")</td>
            <td class="text-center p-1">
                <span data-toggle="tooltip" data-placement="top" title="View Pins">

                    <a asp-action="Details" asp-controller="SchoolPayments" asp-route-id="@item.Id" class="btn btn-light btn-sm " data-toggle="link">
                        <i class="fas fa-desktop"></i>
                        @*View Pins*@
                    </a>
                </span>
            </td>
        </tr>
        }

    </tbody>
</table>
<script src="~/lib/datatables/datatables.min.js"></script>
<script>
        $(document).ready( function () {
            $('#datatable-1').DataTable({
                responsive: true,
                "order": [[ 0, "desc" ]]
            });
        } );
</script>
<script type="text/javascript" src="~/js/linkClick.js"></script>
