@model OfficesViewDto
@{
    ViewData["Title"] = "Delete Office";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>@ViewData["Title"]</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">Dashboard</a></li>
                    <li class="breadcrumb-item"><a asp-area="" asp-controller="OfficeTypes" asp-action="Index">Manage Offices</a></li>
                    <li class="breadcrumb-item"><a asp-area="" asp-controller="Offices"  asp-action="Details" asp-route-id="@Model.Id">@Model.OfficeName</a></li>
                    <li class="breadcrumb-item active">@ViewData["Title"]</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">


    <div class="row">
        <div class="col-12">
            <!-- /.card -->

            <div class="card card-danger">
                <div class="card-header">
                    <h3 class="card-title">Delete Office</h3>
                </div>
                <div class="card-body">

                    @*<small class="text-muted mt-1 mb-2">All fields marked <b class="text-dark">*</b> are required!</small>*@

                    <p class="text-danger lead">
                        <strong class="text-danger"><i class="fas fa-exclamation-triangle"></i> Attention:</strong> Once completed this operation cannot be reversed!
                    </p>
                    <p class="font-italic">
                        Are you sure you want to delete this <b>Office</b> from the system?
                    </p>
                    <form asp-action="Create" method="post">

                        @Html.AntiForgeryToken()

                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>


                        <input type="hidden" asp-for="Id">



                        <table class="table table-responsive-md table-borderless">
                            <tbody style="font-size:16px">
                                <tr>
                                    <td class="p-0">
                                        <dl>
                                            <dt>Office</dt>
                                            <dd>@Model.OfficeName</dd>
                                        </dl>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="p-0">
                                        <dl>
                                            <dt>Address</dt>
                                            <dd>@Model.OfficeAddress</dd>
                                        </dl>
                                    </td>
                                </tr>
                            </tbody>
                        </table>


                        <!-- /.col -->
                        <button type="submit" class="btn btn-danger btn-lg">
                            <i class="fa fa-spinner fa-spin" id="loading_icon" style="display:none"></i>
                            Delete
                        </button>
                        <a asp-area="" asp-controller="Offices" asp-action="Details" asp-route-id="9c338b95-d8b1-479f-8104-54e23de90283" class="btn btn-secondary btn-lg"> Cancel</a>

                        <!-- /.col -->

                    </form>


                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>



</section>
<!-- /.content -->

