@model PagedList<SchoolsViewDto>
@{
    var office = (OfficesViewPagedListSchoolsDto)ViewData["Office"];
    var pages = (IEnumerable<int>)ViewData["Pages"];
    ViewData["Title"] = office.OfficeName;
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


@section styles{
    <link href="~/lib/datatables/datatables.min.css" rel="stylesheet" />

}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>@ViewData["Title"]</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">Dashboard</a></li>
                    <li class="breadcrumb-item"><a asp-area="" asp-controller="OfficeTypes" asp-action="Index">Manage Offices</a></li>
                    <li class="breadcrumb-item active">Offices</li>
                    <li class="breadcrumb-item active">@ViewData["Title"]</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">


    <div class="row">
        <div class="col-12">
            <!-- /.card -->
            @Vereyon.Web.FlashMessageHtmlHelper.RenderFlashMessages(Html)

            <div class="card card-primary card-outline card-outline-tabs">
                <div class="card-header p-0 border-bottom-0">
                    <ul class="nav nav-tabs" id="custom-tabs-three-tab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active disabled" id="custom-tabs-three-home-tab" data-toggle="pill" role="tab" aria-controls="custom-tabs-three-home" aria-selected="true">
                                <b>@ViewData["Title"]</b>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="card-body">
                    <div class="row">
                        <!-- accepted payments column -->
                        <div class="col-md-3 border">

                            <h4 class="mt-4 mb-2" style="font-weight: 100">Office Details:</h4>

                            <table class="table table-striped table-borderless">
             
                                <tbody>
                                    <tr>
                                        <td class="p-0">
                                            <dl>
                                                <dt>Office Name</dt>
                                                <dd>@office.OfficeName</dd>
                                            </dl>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="p-0">
                                            <dl>
                                                <dt>Type of Office</dt>
                                                <dd>@office.OfficeTypeDescription</dd>
                                            </dl>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="p-0">
                                            <dl>
                                                <dt>Date Created</dt>
                                                <dd>@(office.DateCreated != null ? office.DateCreated.Value.ToString("dd-MMM-yyyy") : null)</dd>
                                            </dl>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <table class="table table-striped table-borderless">
                                <caption style="caption-side: top">

                                    <h5 style="font-weight: 100">Location:</h5>
                                </caption>
                                <tbody>
                                    <tr>
                                        <td class="p-0">
                                            <dl>
                                                <dt>Address</dt>
                                                <dd>@office.OfficeAddress</dd>
                                            </dl>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="p-0">
                                            <dl>
                                                <dt>State Located</dt>
                                                <dd>@office.StateName</dd>
                                            </dl>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="p-0">
                                            <dl>
                                                <dt>Latitude</dt>
                                                <dd>@(office.Latitude != null ? office.Latitude.ToString() : "NOT STATED")</dd>
                                            </dl>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="p-0">
                                            <dl>
                                                <dt>Longitude</dt>
                                                <dd>@(office.Longitude != null ? office.Longitude.ToString() : "NOT STATED")</dd>
                                            </dl>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                        <!-- /.col -->
                        <div class="col-md-9">


                            <div class="clearfix mb-2">

                                <div class="float-right">

                                    <a asp-area="" asp-controller="Offices" asp-action="Update" asp-route-id="@office.Id" class="btn btn-light">
                                        <i class="fas fa-desktop"></i>
                                        Update Office
                                    </a>
                                    <a asp-area="" asp-controller="OfficeStates" asp-action="CreateMultiple" class="btn btn-light">
                                        <i class="fas fa-exchange-alt"></i>
                                        Assign States to Office
                                    </a>
                                    <a asp-area="" asp-controller="OfficeLocalGovernments" asp-action="CreateMultiple" asp-route-officeId="@office.Id" class="btn btn-light">
                                        <i class="fas fa-exchange-alt"></i>
                                        Assign LGAs to Office
                                    </a>
                                    <a asp-area="" asp-controller="Offices" asp-action="Delete" asp-route-id="@office.Id" class="btn btn-danger">
                                        <i class="fas fa-trash-alt"></i>
                                        Delete Office
                                    </a>

                                </div>

                            </div>

                            <ul class="nav nav-tabs" id="tab-content" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="tab-content-states-tab" data-toggle="pill" href="#tab-content-states" role="tab" aria-controls="tab-content-states" aria-selected="true">
                                        States Controlled
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="tab-content-lgas-tab" data-toggle="pill" href="#tab-content-lgas" role="tab" aria-controls="tab-content-lgas" aria-selected="false">
                                        Local Governments Controlled
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="tab-content-schools-tab" data-toggle="pill" href="#tab-content-schools" role="tab" aria-controls="tab-content-schools" aria-selected="false">
                                        Schools Managed
                                    </a>
                                </li>
                            </ul>

                            <div class="tab-content" id="tab-contentContent">


                                <div class="tab-pane fade show active p-3" id="tab-content-states" role="tabpanel" aria-labelledby="tab-content-states-tab">

                                    <h5 class="mb-3" style="font-weight: 100">States Controlled:</h5>

                                    <table id="datatable-1" class="table table-bordered table-striped" role="grid" aria-describedby="example1_info">
                                        <thead>
                                            <tr role="row">
                                                <td>State Code</td>
                                                <td>State</td>
                                                <td></td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in office.OfficeStateStates)
                                            {
                                                <tr role="row">
                                                    <td>@item.StateCode</td>
                                                    <td>@item.StateName</td>
                                                    <td class="text-center p-1">

                                                        <a asp-controller="OfficeStates" asp-action="Delete" asp-route-id="@item.Id " class="btn btn-danger btn-sm" data-toggle="tooltip" data-placement="top" title="Delete">
                                                            <i class="fas fa-trash"></i>
                                                            @*Generate Pins*@
                                                        </a>
                                                    </td>
                                                </tr>
                                            }

                                        </tbody>
                                    </table>

                                </div>
                                <div class="tab-pane fade p-3 active" id="tab-content-lgas" role="tabpanel" aria-labelledby="tab-content-lgas-tab">


                                    <h5 class="mb-3" style="font-weight: 100">Local Governments Controlled:</h5>

                                    <table id="datatable-2" class="table table-bordered table-striped" role="grid" aria-describedby="example2_info">
                                        <thead>
                                            <tr role="row">
                                                <td>LGA Code</td>
                                                <td>Local Government</td>
                                                <td>State Located</td>
                                                <td></td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in office.OfficeLgas)
                                            {
                                                <tr role="row">
                                                    <td>@item.LocalGovernmentCode</td>
                                                    <td>@item.LocalGovernmentName</td>
                                                    <td>@item.StateName</td>
                                                    <td class="text-center p-1">

                                                        <a asp-action="Update" asp-route-id="@item.Id" class="btn btn-light btn-sm" data-toggle="tooltip" data-placement="top" title="Update">
                                                            <i class="fas fa-edit"></i>
                                                            @*Generate Pins*@
                                                        </a>
                                                        <a asp-action="Delete" asp-route-id="@item.Id " class="btn btn-danger btn-sm" data-toggle="tooltip" data-placement="top" title="Delete">
                                                            <i class="fas fa-trash"></i>
                                                            @*Generate Pins*@
                                                        </a>
                                                    </td>
                                                </tr>
                                            }

                                        </tbody>
                                    </table>


                                </div>
                                <div class="tab-pane fade p-3" id="tab-content-schools" role="tabpanel" aria-labelledby="tab-content-schools-tab">


                                                                       
                                    <div class="row mb-2">
                                        <div class="col">
                                            <h5 style="font-weight: 100">Schools Managed:</h5>
                                        </div>
                                        <div class="col-8">

                                            <form asp-action="Details" asp-route-id="@office.Id" method="get" class="md-form mb-3" id="searchForm">

                                                <div class="input-group">
                                                    <input type="text" min-length="2" name="searchQuery" class="form-control" value="@ViewData["SearchQuery"]" placeholder="Enter Search words..." aria-label="Username" aria-describedby="material-addon1">
                                                    @*<div class="input-group-prepend">
                            <span class="input-group-text md-addon" id="material-addon1">
                                <i class="fas fa-search"></i>
                            </span>
                        </div>*@
                                                    <div class="input-group-prepend">
                                                        <button class="btn btn-md btn-light" type="submit">
                                                            <i class="fas fa-search"></i>
                                                            Search
                                                        </button>
                                                    </div>
                                                </div>



                                            </form>

                                        </div>

                                        <div class="col-md-12 mb-1">





                                            <a href="@Url.Action("Details", "Offices", new { id  = office.Id , orderBy = "school_name", searchQuery = ViewData["SearchQuery"], pageNumber = Model.CurrentPage })" class="btn btn-light btn-xs">
                                                Name Ascending
                                                <i class="fas fa-sort-up"></i>
                                            </a>
                                            <a href="@Url.Action("Details", "Offices", new { id  = office.Id ,  orderBy = "school_name_desc", searchQuery = ViewData["SearchQuery"], pageNumber = Model.CurrentPage })" class="btn btn-light btn-xs">
                                                Name Descending
                                                <i class="fas fa-sort-down"></i>
                                            </a>
                                            <a href="@Url.Action("Details", "Offices", new { id  = office.Id , orderBy = "year", searchQuery = ViewData["SearchQuery"], pageNumber = Model.CurrentPage })" class="btn btn-light btn-xs">
                                                Year Established Ascending
                                                <i class="fas fa-sort-up"></i>
                                            </a>
                                            <a href="@Url.Action("Details", "Offices", new { id  = office.Id ,  orderBy = "year_desc", searchQuery = ViewData["SearchQuery"], pageNumber = Model.CurrentPage })" class="btn btn-light btn-xs">
                                                Year Established Descending
                                                <i class="fas fa-sort-down"></i>
                                            </a>

                                        </div>
                                    </div>

                                    <table id="datatable-1" class="table table-bordered table-striped" role="grid" aria-describedby="example1_info">

                                        <thead>
                                            <tr role="row">
                                                <td>Name of School</td>
                                                <td>Category</td>
                                                <td>LGA</td>
                                                <td>Year Est.</td>
                                                @*<td>Address</td>*@
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model)
                                            {
                                                <tr role="row">
                                                    <td>@(!String.IsNullOrWhiteSpace(item.SchoolName) ? item.SchoolName : "NOT STATED")</td>
                                                    <td>@(!String.IsNullOrWhiteSpace(item.SchoolCategoryName) ? item.SchoolCategoryName : "NOT STATED")</td>
                                                    <td>@(!String.IsNullOrWhiteSpace(item.LgaName) ? item.LgaName : "NOT STATED")</td>
                                                    <td>@item.YearEstablished</td>
                                                    @*<td>@(!String.IsNullOrWhiteSpace(item.Address) ? item.Address : "NOT STATED")</td>*@
                                                    <td class="text-center p-1">
                                                        @*<a asp-action="Details" asp-route-id="@item.Id" class="btn btn-light btn-sm " data-toggle="tooltip" data-placement="top" title="View Offices">
                                <i class="fas fa-desktop"></i>
                                View Offices
                            </a>*@
                                                    </td>
                                                </tr>
                                            }
                                            @if (Model.TotalCount < 1)
                                            {
                                                <tr>
                                                    <td class="text-center" colspan="5">
                                                        No data available in table
                                                    </td>
                                                </tr>
                                            }

                                        </tbody>
                                    </table>


                                    @{
                                        var prevDisabled = Model.HasPrevious ? "" : "disabled";
                                        var nextDisabled = Model.HasNext ? "" : "disabled";
                                        //var disableAll =
                                    }
                                    @if (Model.TotalCount > 0)
                                    {
                                        int range = Model.PageSize > Model.TotalCount ? Model.TotalCount : Model.PageSize;
                                        <div class="row mt-2">
                                            <div class="col">
                                                @String.Format("Showing {0} to {1} of {2} ", (((Model.CurrentPage - 1) * range) + 1), (Model.CurrentPage * range), Model.TotalCount)
                                            </div>
                                            <div class="col-8">

                                                <ul class="pagination">
                                                    <li class="page-item @prevDisabled">
                                                        <a asp-controller="Offices" asp-action="Details"
                                                           asp-route-id="@office.Id"
                                                           asp-route-orderBy="@ViewData["OrderBy"]"
                                                           asp-route-searchQuery="@ViewData["SearchQuery"]"
                                                           asp-route-pageNumber=""
                                                           class="page-link">
                                                            <i class="fas fa-angle-double-left"></i>
                                                        </a>
                                                    </li>
                                                    <li class="page-item @prevDisabled">
                                                        <a asp-controller="Offices" asp-action="Details"
                                                           asp-route-id="@office.Id"
                                                           asp-route-orderBy="@ViewData["OrderBy"]"
                                                           asp-route-searchQuery="@ViewData["SearchQuery"]"
                                                           asp-route-pageNumber="@(Model.CurrentPage - 1)"
                                                           class="page-link">
                                                            <i class="fas fa-angle-left"></i>
                                                        </a>
                                                    </li>
                                                    @foreach (var item in pages)
                                                    {
                                                        <li class="@(item == Model.CurrentPage ? "page-item active" : "page-item")">
                                                            <a asp-controller="Offices" asp-action="Details"
                                                               asp-route-id="@office.Id"
                                                               asp-route-orderBy="@ViewData["OrderBy"]"
                                                               asp-route-searchQuery="@ViewData["SearchQuery"]"
                                                               asp-route-pageNumber="@item"
                                                               class="page-link">
                                                                @item
                                                            </a>
                                                        </li>
                                                    }

                                                    <li class="page-item @nextDisabled">
                                                        <a asp-controller="Offices" asp-action="Details"
                                                           asp-route-id="@office.Id"
                                                           asp-route-orderBy="@ViewData["OrderBy"]"
                                                           asp-route-searchQuery="@ViewData["SearchQuery"]"
                                                           asp-route-pageNumber="@(Model.CurrentPage + 1)"
                                                           class="page-link">
                                                            <i class="fas fa-angle-right"></i>
                                                        </a>
                                                    </li>
                                                    <li class="page-item @nextDisabled">
                                                        <a asp-controller="Offices" asp-action="Details"
                                                           asp-route-id="@office.Id"
                                                           asp-route-orderBy="@ViewData["OrderBy"]"
                                                           asp-route-searchQuery="@ViewData["SearchQuery"]"
                                                           asp-route-pageNumber="@Model.TotalPages"
                                                           class="page-link">
                                                            <i class="fas fa-angle-double-right"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>


                        </div>
                        <!-- /.col -->
                    </div>
                </div>
                <!-- /.card -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>



</section>
<!-- /.content -->

@section scripts{
    <script src="~/lib/datatables/datatables.min.js"></script>
        <script>
                $(document).ready( function () {
                    $('#datatable-1').DataTable({
                        responsive: true,
                        //"order": [[ 0, "desc" ]]
                    });
                } );
        </script>
        <script>
                $(document).ready( function () {
                    $('#datatable-2').DataTable({
                        responsive: true,
                        //"order": [[ 0, "desc" ]]
                    });
                } );
        </script>
}

