@model IEnumerable<OfficeTypesViewDto>
@{
    ViewData["Title"] = "Manage Offices";
}

    <link href="~/lib/datatables/datatables.min.css" rel="stylesheet" />


<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>@ViewData["Title"]</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index" data-toggle="link">Dashboard</a></li>
                    <li class="breadcrumb-item active">@ViewData["Title"]</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">


    <div class="row">
        <div class="col-12">
            <!-- /.card -->
            @Vereyon.Web.FlashMessageHtmlHelper.RenderFlashMessages(Html)
            <div class="card">
                <div class="card-header">
                <h3 class="card-title">Manage Council Offices</h3>
            </div>
                <!-- /.card-header -->
                <div class="card-body clearfix">
                    <div class="float-right">
                        <a asp-area="" asp-controller="Offices" asp-action="Index" data-toggle="link" class="btn btn-light">
                            <i class="fas fa-desktop"></i>
                            View All Offices
                        </a>

                        <a asp-area="" asp-controller="OfficeStates" asp-action="Index" data-toggle="link" class="btn btn-light">
                            <i class="fas fa-exchange-alt"></i>
                            Assign Offices To States
                        </a>
                        <a asp-area="" asp-controller="OfficeTypes" asp-action="Create" data-toggle="link" class="btn btn-light">
                            <i class="fas fa-plus"></i>
                            New Type of  Office
                        </a>
                        <a asp-area="" asp-controller="Offices" asp-action="Create" data-toggle="link" class="btn btn-light">
                            <i class="fas fa-plus"></i>
                            New Office
                        </a>
                    </div>
                </div>
                <div class="card-body">

                    <table id="datatable-offices" class="table table-bordered table-striped" role="grid" aria-describedby="example1_info">
                        <caption style="caption-side:top">
                            <h5 style="font-weight:100">Types of Offices</h5>
                        </caption>
                        <thead>
                            <tr role="row">
                                <td>Type of Office</td>
                                <td>Total Offices</td>
                                <td></td>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr role="row">
                                    <td>@item.TypeDescription</td>
                                    <td>@item.OfficesCount.ToString("#,##0")</td>
                                    <td class="text-center p-1">
                                        <span data-toggle="tooltip" data-placement="top" title="View Offices">
                                            <a asp-action="ViewOffices" asp-route-id="@item.Id" class="btn btn-light btn-sm " data-toggle="link">
                                                <i class="fas fa-desktop"></i>
                                                @*View Pins*@
                                            </a>
                                        </span>
                                        <span data-toggle="tooltip" data-placement="top" title="Update">
                                            <a asp-action="Update" asp-route-id="@item.Id" class="btn btn-light btn-sm" data-toggle="link">
                                                <i class="fas fa-edit"></i>
                                                @*Generate Pins*@
                                            </a>
                                        </span>
                                        <span data-toggle="tooltip" data-placement="top" title="Delete">

                                            <a asp-action="Delete" asp-route-id="@item.Id " class="btn btn-danger btn-sm" data-toggle="link">
                                                <i class="fas fa-trash"></i>
                                                @*Generate Pins*@
                                            </a>
                                        </span>
                                        
                                        
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>



</section>
<!-- /.content -->

<script src="~/lib/datatables/datatables.min.js"></script>
  
    <script>
        $(function () {
            $('#datatable-offices').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    'copy', 'csv', 'excel', 'pdf'
                ],
                destroy: true
            });
        });
    </script>
    <script type="text/javascript" src="~/js/linkClick.js"></script>

