@model IEnumerable<SchoolRecognition.Models.PinsViewDto>
@{
    ViewData["Title"] = "All Pins Generated";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@section styles{
    <link href="~/lib/datatables/datatables.min.css" rel="stylesheet" />

}


<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>@ViewData["Title"]</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">Dashboard</a></li>
                    <li class="breadcrumb-item"><a asp-area="" asp-controller="ManagePins" asp-action="Index">Manage Pins</a></li>
                    <li class="breadcrumb-item active">@ViewData["Title"]</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">


    <div class="row">
        <div class="col-12">
            <!-- /.card -->
            @Vereyon.Web.FlashMessageHtmlHelper.RenderFlashMessages(Html)

            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Manage School Recognition Pins</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <a asp-area="" asp-controller="Pins" asp-action="GeneratePins" class="btn btn-secondary text-white">
                        <i class="fas fa-receipt"></i>
                        Generate PINs
                    </a>
                </div>
                <div class="card-body">


                    <table id="datatable-1" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info">
                        <thead>
                            <tr role="row">
                                <td>Date Generated</td>
                                <td>Serial Number</td>
                                <td>Created By</td>
                                <td>Active</td>
                                <td>In Use</td>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr role="row">
                                    <td>@item.DateCreated.Value.ToString("d-MMM-yyyy")</td>
                                    <td>@item.SerialNumber</td>
                                    <td>@item.CreatedByUser</td>
                                    <td>
                                        <a href="#" class="btn btn-xs disabled @(item.IsActive ? "btn-success" : "btn-danger")">
                                            <i class="fas fa-check"></i>
                                        </a>
                                    </td>
                                    <td>
                                        <a href="#" class="btn btn-xs disabled @(item.IsInUse ? "btn-success" : "btn-danger")">
                                            <i class="fas fa-check"></i>
                                        </a>
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>

                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>



</section>
<!-- /.content -->

@section scripts{
    <script src="~/lib/datatables/datatables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#datatable-1').DataTable({
                "order": [[0, "desc"]]
            });
        });
    </script>
}
