@model IEnumerable<SchoolRecognition.Models.RecognitionTypes>
@{
    ViewData["Title"] = "Manage Pins";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@section styles{
    <link href="~/lib/datatables/datatables.min.css" rel="stylesheet" />

}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>@ViewData["Title"]</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">Dashboard</a></li>
                    <li class="breadcrumb-item active">@ViewData["Title"]</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">


    <div class="row">
        <div class="col-12">
            <!-- /.card -->
            @Vereyon.Web.FlashMessageHtmlHelper.RenderFlashMessages(Html)
            <div class="card">
                <div class="card-header">
                <h3 class="card-title">Manage School Recognition Pins</h3>
            </div>
                <!-- /.card-header -->
                <div class="card-body clearfix">
                    <div class="float-right">
                        <a asp-area="" asp-controller="Pins" asp-action="Index" class="btn btn-secondary text-white">
                            <i class="fas fa-desktop"></i>
                            View All Pins
                        </a>
                    </div>
                </div>
                <div class="card-body">

                    <table id="datatable-1" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info">
                        <thead>
                            <tr role="row">
                                <td>Recognition Type</td>
                                <td>Code</td>
                                <td></td>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr role="row">
                                    <td>@item.Name</td>
                                    <td>@item.Code</td>
                                    <td class="text-center">
                                        <a asp-action="ViewPins" asp-route-id="@item.Id" class="btn btn-secondary btn-sm">
                                            <i class="fas fa-desktop"></i>
                                            View Pins
                                        </a>
                                        <a asp-action="GeneratePins" asp-route-id="@item.Id" class="btn btn-secondary btn-sm">
                                            <i class="fas fa-receipt"></i>
                                            Generate Pins
                                        </a>
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>



</section>
<!-- /.content -->

@section scripts{
    <script src="~/lib/datatables/datatables.min.js"></script>
    <script>
        $(document).ready( function () {
            $('#datatable-1').DataTable({
                //"order": [[ 0, "desc" ]]
            });
        } );
    </script>
}


