@model SchoolRecognition.Models.SchoolCategories

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <p class="text-primary breadcrumb-item active">

                    @ViewData["Title"]

                </p>
            </div>
            <div class="col-sm-6">
                <a class="btn btn-primary float-sm-right" asp-action="Create" asp-controller="SchoolCategory">
                    Add Category
                </a>
            </div>

        </div>
    </div><!-- /.container-fluid -->
</section>

<section class="container">

    <div>
        <h4>SchoolCategories</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Code)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Code)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
</section>

