@model IEnumerable<SchoolRecognition.Models.SchoolCategories>

@{
    ViewData["Title"] = "List of Availabe School Categories";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}



<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <p class="text-primary breadcrumb-item active">

                    @ViewData["Title"]

                </p>
            </div>
            <div class="col-sm-6">
                <a class="btn btn-primary float-sm-right" asp-action="Create" asp-controller="SchoolCategories">
                    Add Category
                </a>
            </div>

        </div>
    </div><!-- /.container-fluid -->
</section>

<section class="content ml-5">
    <table class="table table-striped table-bordered" style="width:100%" id="schoolCategory">
        <thead>
            <tr>
                <th>

                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Code)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Code)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id"><span><i class="fa fa-edit" data-placement="top" data-toggle="tooltip" style="color:green;" title="Edit"></i></span></a> 
                            <a asp-action="Details" asp-route-id="@item.Id"><span><i class="fa fa-folder-open" data-placement="bottom"style="color:blue;"  data-toggle="tooltip" title="Details"></i></span></a> 
                            <a asp-action="Delete" asp-route-id="@item.Id"><span><i class="fa fa-trash" style="color:red;" data-placement="left" data-toggle="tooltip" title="Delete"></i></span></a>
                        </td>
                    </tr>
                }
        </tbody>
    </table>
</section>