@model SchoolPaymentsCreateDto
@{
    var schoolCategorys = (IEnumerable<SelectListItem>)ViewData["SchoolCategorys"];
    var recognitionTypes = (IEnumerable<SelectListItem>)ViewData["RecognitionTypes"];
    ViewData["Title"] = "Make Payment";
    //Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@section styles{

    @*<link href="~/lib/jquery-ui/jquery-ui.min.css" rel="stylesheet" />
        <link href="~/lib/jquery-ui/jquery-ui.structure.min.css" rel="stylesheet" />*@
    <link href="~/lib/select2/dist/css/select2.min.css" rel="stylesheet" />
    <link href="~/lib/select2-bootstrap4-theme/select2-bootstrap4.min.css" rel="stylesheet" />
    <link href="~/lib/fileuploads/css/dropify.css" rel="stylesheet" />
}


<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>@ViewData["Title"]</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">Dashboard</a></li>
                    <li class="breadcrumb-item"><a asp-area="" asp-controller="SchoolPayments" asp-action="Index">Manage Payments</a></li>
                    <li class="breadcrumb-item active">@ViewData["Title"]</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">


    <div class="row">
        <div class="col-12">
            <!-- /.card -->
            @Vereyon.Web.FlashMessageHtmlHelper.RenderFlashMessages(Html)

            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Make New Payment</h3>
                </div>
                <div class="card-body" style="min-height:350px">


                    <form asp-action="Create" method="post">

                        @Html.AntiForgeryToken()

                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>


                        <div class="form-group">
                            <label asp-for="RecognitionTypeId">Recognition Type</label>
                            <select asp-for="RecognitionTypeId" asp-items="@recognitionTypes.ToList()" class="form-control" required>
                                <option value="">--Select Recognition Type---</option>
                            </select>
                            <span asp-validation-for="RecognitionTypeId" class="text-danger"></span>
                        </div>

                        <div class="row">

                            <div class="col-md-4">

                                <div class="form-group">
                                    <label asp-for="AmountPaid">*Amount Paid:</label>
                                    <input min="1" maxlength="100000" type="number" asp-for="AmountPaid" class="form-control" placeholder="Enter Amount Paid" required>
                                </div>

                            </div>
                            <div class="col-md-8">


                                <div class="form-group">
                                    <label asp-for="PaymentReceiptNo">*Receipt No:</label>
                                    <input minlength="5" maxlength="20" asp-for="PaymentReceiptNo" class="form-control" placeholder="Enter Receipt No" required>
                                </div>


                            </div>

                        </div>

                        <div class="form-group">

                            <label for="receiptImage">Reciept Image</label>
                            <input type="file" class="dropify" name="receiptImage" accept="image/jpg, image/png, image/gif, image/jpeg" data-height="300" />

                        </div>

                        <!-- /.col -->
                        <button type="submit" class="btn btn-primary btn-lg">
                            <i class="fa fa-spinner fa-spin" id="loading_icon" style="display:none"></i>
                            Submit
                        </button>
                        <button type="reset" class="btn btn-secondary btn-lg"> Reset</button>

                        <!-- /.col -->

                    </form>


                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>



</section>
<!-- /.content -->

@section scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/loading_icon.js"></script>
    @*<script src="~/lib/jquery-ui/jquery-ui.min.js"></script>*@
    <script src="~/lib/select2/dist/js/select2.min.js"></script>
    <script src="~/lib/fileuploads/js/dropify.min.js"></script>
    <script>
        $(document).ready(function () {
            $('select.form-control').select2({
                theme: 'bootstrap4'
            });
            //$('.select2me').select2();

        });
    </script>
    <script>
        $('.dropify').dropify({
            messages: {
                'default': 'Drag and drop a file here or click',
                'replace': 'Drag and drop or click to replace',
                'remove': 'Remove',
                'error': 'Ooops, something wrong appended.'
            },
            error: {
                'fileSize': 'The file size is too big (2M max).'
            }
        });
    </script>
    <script>
        // add the rule here
         $.validator.addMethod("valueNotEquals", function(value, element, arg){
          return arg !== value;
         }, "Select a valid value!");
        $("form").validate({
            rules: {
                RecognitionTypeId: {
                    required: true,
                    //min: 1
                }
            },
            messages: {
                RecognitionTypeId: {
                    required: "This field is required!",
                    valueNotEquals: ""
                }
            }
        });
    </script>

}

<script type="text/javascript" src="~/js/linkClick.js"></script>


