@model SchoolPaymentsViewDto
@{
    string paymentReceiptImage = null;
    if (Model.PaymentReceiptImage != null && Model.PaymentReceiptImage.Length > 0)
    {
        var base64 = Convert.ToBase64String(Model.PaymentReceiptImage);
        paymentReceiptImage = $"data:image/jpg;base64,{base64}";
    }
    ViewData["Title"] = $"[{Model.PaymentReceiptNo}] Payment Details";
    //Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>@ViewData["Title"]</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index" data-toggle="link">Dashboard</a></li>
                    <li class="breadcrumb-item"><a asp-area="" asp-controller="SchoolPayments" asp-action="Index" data-toggle="link">Manage Payments</a></li>
                    <li class="breadcrumb-item active">@ViewData["Title"]</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<section class="content">
    <div class="container-fluid">

        
        <div class="row">

            <div class="col-12">

                <!-- Main content -->
                <div class="invoice p-3 mb-3">
                    <!-- this row will not appear when printing -->
                    <div class="row no-print mb-3">
                        <div class="col-12 clearfix">
                            <button id="printPage" class="btn btn-default btn-lg float-right">
                                <i class="fas fa-print"></i> Print
                            </button>

                        </div>
                    </div>
                    <!-- title row -->
                    <div class="row">
                        <div class="col-12">
                            <h4>
                                @Model.RecognitionTypeName <span style="font-weight: 300">Payment Statement</span>
                                <small class="float-right mt-3">
                                    <b>RECEIPT NO.</b> @Model.PaymentReceiptNo<br>
                                    <span class="mt-2" style="font-size: 18px"><b>Date:</b> @(Model.DateCreated != null ? Model.DateCreated.Value.ToString("dd-MMMM-yyyy") : "NOT STATED")</span>

                                </small>
                            </h4>
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- info row -->
                    <div class="row invoice-info mt-5">
                        <div class="col-sm-8 invoice-col">
                            Made For:
                            <address>
                                <strong class="lead" style="font-weight: bolder">@Model.SchoolName</strong>
                                <br />
                                @Model.SchoolAddress<br>
                                Phone: @Model.SchoolPhoneNo<br>
                                Email: @Model.SchoolEmailAddress
                            </address>
                        </div>
                        <!-- /.col -->
                        <div class="col-sm-4 invoice-col">
                            Captured By:
                            <address>
                                <strong class="lead" style="font-weight: bolder">@(!String.IsNullOrWhiteSpace(Model.CreatedByUser) ? Model.CreatedByUser : "NOT STATED")</strong><br>
                                @*795 Folsom Ave, Suite 600<br>
                    San Francisco, CA 94107<br>
                    Phone: (555) 539-1037<br>
                    Email: john.doe@example.com*@
                            </address>
                        </div>
                    </div>
                    <!-- /.row -->

                    <hr />
                    <div class="row">
                        <!-- /.col -->
                        <div class="col-12">
                            <p class="lead">RECEIPT NUMBER - <b>@Model.PaymentReceiptNo</b></p>
                            <hr />
                            <p class="lead">PIN ISSUED - <b>@Model.PinSerialNumber</b></p>
                            <div class="table-responsive">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <th style="width:30%">Recognition Type</th>
                                            <td>@Model.RecognitionTypeName</td>
                                        </tr>
                                        <tr>
                                            <th style="width:30%">School</th>
                                            <td>
                                                <a asp-area="" asp-controller="Schools" asp-action="Details" asp-route-id="@Model.SchoolId" data-toggle="link">@Model.SchoolName</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th style="width:30%">School Category</th>
                                            <td>
                                                @Model.SchoolCategoryName
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Amount Paid</th>
                                            <td>@(Model.AmountPaid != null ? Model.AmountPaid.Value.ToString("#,##0") : "0.00")</td>
                                        </tr>
                                        <tr>
                                            <th>Date</th>
                                            <td>@(Model.DateCreated != null ? Model.DateCreated.Value.ToString("dd-MMMM-yyyy") : "NOT STATED")</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                    <!-- /.row -->

                    <div class="row">
                        <!-- /.col -->
                        <div class="col-12 border">
                            <div class="d-flex justify-content-center">
                                <img src="@paymentReceiptImage" class="img-fluid" alt="Receipt">
                            </div>
                        </div>

                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.invoice -->
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</section>


<script>
    $('#printPage').click(function(){
           window.print();
           return false;
});
</script>
<script src="~/js/linkClick.js"></script>
