@model StatesCreateDto
@{
    ViewData["Title"] = "Update State";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@section styles{

    @*<link href="~/lib/jquery-ui/jquery-ui.min.css" rel="stylesheet" />
        <link href="~/lib/jquery-ui/jquery-ui.structure.min.css" rel="stylesheet" />*@
    @*<link href="~/lib/select2/dist/css/select2.min.css" rel="stylesheet" />*@

}


<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>@ViewData["Title"]</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">Dashboard</a></li>
                    <li class="breadcrumb-item"><a asp-area="" asp-controller="ManageLocations" asp-action="Index">Manage Locations</a></li>
                    <li class="breadcrumb-item"><a asp-area="" asp-controller="States" asp-action="Index">States</a></li>
                    <li class="breadcrumb-item"><a asp-area="" asp-controller="States" asp-action="Details" asp-route-id="@Model.Id">@Model.StateName</a></li>
                    <li class="breadcrumb-item active">@ViewData["Title"]</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">


    <div class="row">
        <div class="col-12">
            <!-- /.card -->
            @Vereyon.Web.FlashMessageHtmlHelper.RenderFlashMessages(Html)

            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Update State</h3>
                </div>
                <div class="card-body">

                    <small class="text-muted mt-1 mb-2">All fields marked <b class="text-dark">*</b> are required!</small>

                    <form asp-action="Update" method="post">

                        @Html.AntiForgeryToken()

                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <input type="hidden" asp-for="Id" />

                        <div class="form-group">
                            <label asp-for="StateName">*Name of State:</label>
                            <input minlength="2" maxlength="50" asp-for="StateName" class="form-control" placeholder="Enter Name of State" required>
                        </div>

                        <div class="form-group">
                            <label asp-for="StateCode">*Code:</label>
                            <input minlength="1" maxlength="2" asp-for="StateCode" class="form-control" placeholder="Enter Code" required>
                        </div>




                        <!-- /.col -->
                        <button type="submit" class="btn btn-primary btn-lg">
                            <i class="fa fa-spinner fa-spin" id="loading_icon" style="display:none"></i>
                            Save
                        </button>
                        <button type="reset" class="btn btn-secondary btn-lg"> Reset</button>

                        <!-- /.col -->

                    </form>


                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>



</section>
<!-- /.content -->

@section scripts{
    <script src="~/js/loading_icon.js"></script>
    <script src="~/lib/jquery-ui/jquery-ui.min.js"></script>
    @*<script src="~/lib/select2/dist/js/select2.min.js"></script>*@
    @*<script src="~/lib/select2/dist/js/select2.full.min.js"></script>*@
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation/dist/additional-methods.min.js"></script>
    @*<script>
            $(document).ready(function () {
                $('select.form-control').select2({
                    theme: "classic"
                });
                //$('.select2me').select2();
            });
        </script>*@
    <script>
        // add the rule here
        //$.validator.addMethod("valueNotEquals", function (value, element, arg) {
        //    return arg !== value;
        //}, "Select a valid value!");
        $("form").validate({
            rules: {
                StateName: {
                    required: true,
                    minlength: 5,
                    maxlength: 60
                },
                StateCode: {
                    required: true,
                    minlength: 1,
                    maxlength: 2
                },

            },
            messages: {
                StateName: {
                    required: "This field is required!",
                    minlength: "This field must have at least 2 characters!",
                    maxlength: "This field must have less than 50 characters!",
                },
                StateCode: {
                    required: "This field is required!",
                    minlength: "This field must have at least 1 characters!",
                    maxlength: "This field must have less than 2 characters!",
                }
            }
        });
    </script>

}


